# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    
    - CONDA_PY=27
    - CONDA_PY=35
    - CONDA_PY=36
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "VpvY9ldL5Zq77Virf2i9X3LiLldHfZtXE4QI4by1iFl0R0u1dtLvGTzhkGO8Bfo2I/qYv3/hHQvuosFPetIix4q/6v7b4ycIqzBA5/7CodXwxokuijSrvcLwH+V/UeN9CbTvIsKlAIeI+vjViimH3YEdgKJ81iC+EsPedVVGNgnMqSdDCOK+JEF0157pbX6JVrwoyQiJ411hxaB0tJ8AEvAqRRa2TpVfcnHV7rhW2bSsZ8uydUV/rTKi4EHQp+oKKgWJUIhJWO98HSQoittcQSDqLE97aT+kuC/nGTeKUIrg/rTfxM5yPjFM4Cnx48UzSXIe4h7mBSgk6Qe4kfpwqQbLa9DEaK9t+4QVjK4pDbJhQpz8DJGJL8RCOtg/ccPydHwxKU7Ky7xFRqCM0v4sQB5/iZwDn4vPO8a6Qz20jodJ1idcWBXD+O9C2Zk8CcdmC7fahzODjbKp8Mm+zQxBiHDMcTxOaHTXq8F/4zWk3tX7wdAb6lPiPlVuawJWhWxNLbshmL3hKxOJ133iuf2m1k9/PqERn9JRvrTHeeyimbqVjhe59dnoN7nBLE4ic4v3HRWQI0J3mo7z3eLZcfxA9zcnQnzF4zzk9hojDEbw15D57eF5BVsqKxv70DkZpY+AZarIwn+A1gu8yB5+vcMz7XBAzcqqo3DJ9CKTfVbxmIY="


before_install:
    # Remove homebrew.
    - brew remove --force --ignore-dependencies $(brew list)
    - brew cleanup -s
    - rm -rf $(brew --cache)

install:
    - |
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      source /Users/travis/miniconda3/bin/activate root
      conda config --remove channels defaults
      conda config --add channels defaults
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

script:
  - conda build ./recipe

  - upload_or_check_non_existence ./recipe conda-forge --channel=main
